<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript">

        function validate_form ( )
        {
            valid = true;

            if ( document.add_land_form.street_id.value == "" )
            {
                alert ( "Пожалуйста укажите улицу!" );
                valid = false;
            }

            return valid;
        }

    </script>
    <title>Участки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        select {
            width: 173px; /* Ширина списка в пикселах */
        }
    </style>
</head>
<body>

<table border="0" align="left" cellpadding="0" cellspacing="10">
    <tr><td width="400" align="center" valign="top">
        <table border="1" cellspacing="0"><tr><td>
            <table border="0" bgcolor="#f0ffff" cellspacing="2">


                <!-- Редактирование участка    -->

                <div th:if="${edit_land != null}" th:object="${edit_land}">
                    <form action="/edit_land" method="post"><input type="hidden" name="land_id" th:value="*{land_id}"><input type="hidden" name="owner_ids" th:value="${edit_land?.owner?.owner_id}">
                        <tr>
                            <td><label for="street_id">Улица:</label></td>
                            <td>
                                <select name="street_id">
                                    <div th:each="street : ${streets}">
                                        <option th:if="${edit_land.street.street_id == street.street_id}" th:value="${street.street_id}" th:text="${street.name}" selected></option>
                                        <option th:if="${edit_land.street.street_id != street.street_id}" th:value="${street.street_id}" th:text="${street.name}"></option>                                    </div>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="number">Номер участка</label></td><td><input type="text" id="number" name="number" required th:value="*{number}"></td>
                        </tr>
                        <tr>
                            <td><label for="cadastr">Кадастровый номер</label></td><td><input type="text" id="cadastr" name="cadastr" required th:value="*{cadastr}"></td>
                        </tr>
                        <tr>
                            <td><label for="owner">Собственник</label></td>
                            <td>
                                <select name="owner_id">

                                    <div th:each="owner : ${owners}">

                                        <div th:if="${edit_land.owner != null}">
                                            <option th:if="${edit_land.owner.owner_id == owner.owner_id}" th:text="${owner.getFullName()}" th:value="${owner.owner_id}" selected></option>
                                            <option th:if="${edit_land.owner.owner_id != owner.owner_id}" th:text="${owner.getFullName()}" th:value="${owner.owner_id}"></option>
                                        </div>
-->
                                    </div>

                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td><label for="people_count">Прописано человек</label></td>
                            <td>
                                <select name="people_count">
                                    <div th:each="i : ${#numbers.sequence(1,10)}">
                                        <option th:if="${edit_land.people_count == i}" th:value="${i}" th:text="${i}" selected>1</option>
                                        <option th:if="${edit_land.people_count != i}" th:value="${i}" th:text="${i}">1</option>
                                    </div>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><button type="submit">Изменить</button></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center"><a href="/lands">Добавить новый участок</a></td>
                        </tr>
                    </form>
                </div>


                <!-- Форма добавления нового участка    -->

                <div th:if="${edit_land == null}">
                    <form name="add_land_form" action="/add_land" method="post" onsubmit="return validate_form ( );">
                        <tr>
                            <td><label for="street_id">Улица:</label></td>
                            <td>
                                <select name="street_id" required>
                                    <div th:each="street : ${streets}">
                                        <option th:value="${street.street_id}" th:text="${street.name}"></option>
                                    </div>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="number">Номер участка</label></td><td><input type="text" id="number" name="number" required></td>
                        </tr>
                        <tr>
                            <td><label for="cadastr">Кадастровый номер</label></td><td><input type="text" id="cadastr" name="cadastr" required></td>
                        </tr>
                        <tr>
                            <td><label for="owner_id">Собственник</label></td>
                            <td>
                                <select name="owner_id" required>
                                    <div th:each="owner : ${owners}">
                                        <option th:text="${owner.getFullName()}" th:value="${owner.owner_id}"></option>
                                    </div>
                                </select>

                            </td>
                        </tr>
                        <tr>
                            <td><label for="people_count">Прописано человек</label></td>
                            <td>
                                <select name="people_count">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <button type="submit">Добавить</button>
                                <button type="reset">Очистить</button>
                            </td>
                        </tr>
                    </form>
                </div>
            </table>
        </td></tr></table>
    </td>
        <!-- Вывод таблицы с участками -->
        <td align="left" valign="top">
            <table border="1" cellspacing="0" cellpadding="5">
                <form action="/del_lands" method="get">
                    <tr bgcolor="#f0ffff">
                        <th width="200">Адрес</th>
                        <th width="150">Кадастр</th>
                        <th width="100">Прописано</th>
                        <th width="180">Собственник</th>
                        <th><input type="submit" value="Удалить"></th>
                    </tr>

                    <tr th:each="land : ${lands}">
                        <td width="200"><span><a th:href="@{lands?land_id={lnd_id}(lnd_id=${land.land_id})}" th:text="${land.street.name + ', ' + land.number}"></a></span></td>
                        <td width="150"><span th:text="${land.cadastr}"></span></td>
                        <td width="100"><i th:text="${land.people_count}"></i></td>
                        <td width="180"><i th:if="${land.owner != null}" th:text="${land.owner.getFullName()}"></i></td>
                        <td><input type="checkbox" name="mark_item" th:value="${land.land_id}"></td>
                    </tr>
                </form>
            </table>
        </td>
    </tr>
</table>

<div>

    <a href="/"><- Назад</a>
</div>
</body>
</html>
